In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("UCI_Credit_Card.csv")

Content There are 25 variables:

    ID: ID of each client
    LIMIT_BAL: Amount of given credit in NT dollars (includes individual and family/supplementary = credit)
    SEX: Gender (1=male, 2=female)
    EDUCATION: (1=graduate school, 2=university, 3=high school, 4=others, 5=unknown, 6=unknown)
    MARRIAGE: Marital status (1=married, 2=single, 3=others)
    AGE: Age in years
    PAY_0: Repayment status in September, 2005 (-1=pay duly, 1=payment delay for one month, 2=payment delay for two months, … 8=payment delay for eight months, 9=payment delay for nine months and above)
    PAY_2: Repayment status in August, 2005 (scale same as above)
    PAY_3: Repayment status in July, 2005 (scale same as above)
    PAY_4: Repayment status in June, 2005 (scale same as above)
    PAY_5: Repayment status in May, 2005 (scale same as above)
    PAY_6: Repayment status in April, 2005 (scale same as above)
    BILL_AMT1: Amount of bill statement in September, 2005 (NT dollar)
    BILL_AMT2: Amount of bill statement in August, 2005 (NT dollar)
    BILL_AMT3: Amount of bill statement in July, 2005 (NT dollar)
    BILL_AMT4: Amount of bill statement in June, 2005 (NT dollar)
    BILL_AMT5: Amount of bill statement in May, 2005 (NT dollar)
    BILL_AMT6: Amount of bill statement in April, 2005 (NT dollar)
    PAY_AMT1: Amount of previous payment in September, 2005 (NT dollar)
    PAY_AMT2: Amount of previous payment in August, 2005 (NT dollar)
    PAY_AMT3: Amount of previous payment in July, 2005 (NT dollar)
    PAY_AMT4: Amount of previous payment in June, 2005 (NT dollar)
    PAY_AMT5: Amount of previous payment in May, 2005 (NT dollar)
    PAY_AMT6: Amount of previous payment in April, 2005 (NT dollar)
    default.payment.next.month: Default payment (1=yes, 0=no)

In [3]:
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [4]:
df.isnull().sum()

ID                            0
LIMIT_BAL                     0
SEX                           0
EDUCATION                     0
MARRIAGE                      0
AGE                           0
PAY_0                         0
PAY_2                         0
PAY_3                         0
PAY_4                         0
PAY_5                         0
PAY_6                         0
BILL_AMT1                     0
BILL_AMT2                     0
BILL_AMT3                     0
BILL_AMT4                     0
BILL_AMT5                     0
BILL_AMT6                     0
PAY_AMT1                      0
PAY_AMT2                      0
PAY_AMT3                      0
PAY_AMT4                      0
PAY_AMT5                      0
PAY_AMT6                      0
default.payment.next.month    0
dtype: int64

In [5]:
df.nunique()

ID                            30000
LIMIT_BAL                        81
SEX                               2
EDUCATION                         7
MARRIAGE                          4
AGE                              56
PAY_0                            11
PAY_2                            11
PAY_3                            11
PAY_4                            11
PAY_5                            10
PAY_6                            10
BILL_AMT1                     22723
BILL_AMT2                     22346
BILL_AMT3                     22026
BILL_AMT4                     21548
BILL_AMT5                     21010
BILL_AMT6                     20604
PAY_AMT1                       7943
PAY_AMT2                       7899
PAY_AMT3                       7518
PAY_AMT4                       6937
PAY_AMT5                       6897
PAY_AMT6                       6939
default.payment.next.month        2
dtype: int64

In [ ]:
# EDA Auto

In [ ]:
#from ydata_profiling import ProfileReport

In [ ]:
#profile = ProfileReport(df, title="Pandas Profiling Report")

In [ ]:
#profile.to_file('report.html')

In [ ]:
# here we can drop a id collumn as it indicate a index only
df1= df.drop("ID",axis=1)

In [ ]:
df1.info()

In [ ]:
# Problemtype :- classification problem.

Observation :- it seems all  column is important so here no need to go for feature selection or exttraction or feature reduction

In [ ]:
#df1.describe()

In [ ]:
#numerical_feature = [feature for feature in df1.columns if df1[feature].dtype!="O"]

In [ ]:
'''for feature in numerical_feature:
    #df1.groupby(feature)["default.payment.next.month"].plot.hist()
    sns.histplot(df1[feature])
    plt.xlabel(feature)
    plt.title('Histogram')
    plt.show()'''

In [ ]:
'''for feature in numerical_feature:
    #df1.groupby(feature)["default.payment.next.month"].plot.hist()
    sns.boxplot(df1[feature])
    plt.xlabel(feature)
    plt.title('Box Plot')
    plt.show()'''

In [ ]:
Observation :- high amount out lier is their in dataset.

In [ ]:

#df['default.payment.next.month'].groupby(df['SEX']).value_counts()

In [ ]:
'''# male
2873/(9015+2873)*100'''

In [ ]:
'''# female
3763/(3763+14349)*100'''

Observation :-
    
1. Zero indicate a no default with a payment.
2. SEX: Gender (1=male, 2=female)
defalult ratio in male is  24.17% and in female it is 20.77%

In [ ]:
#df.columns

In [ ]:
#categorical_feature = ['SEX', 'EDUCATION', 'MARRIAGE']

In [ ]:
'''sns.countplot(x='SEX',data=df,hue='default.payment.next.month')
plt.xlabel("plot of sex")
plt.title('Distribution of sex')
plt.show()'''

In [ ]:
'''sns.countplot(x= 'default.payment.next.month',data=df,hue ='SEX')
plt.xlabel("defualt payment status")
plt.title('Distribution of defualt payment status')
plt.show()'''

Observation higher credit given to  female

In [ ]:
'''sns.countplot(x= 'EDUCATION',data=df,hue ='default.payment.next.month')
plt.xlabel("EDUCATION WISE DEFAILTER  STATUS")
plt.title('Distribution of EDUCATIUON')
plt.show()'''

OBSERVATION: -

EDUCATION: (1=graduate school, 2=university, 3=high school)  indicate defaulter a quite a educated most of they have gone to university

In [ ]:
'''sns.countplot(x= 'MARRIAGE',data=df,hue ='default.payment.next.month')
plt.xlabel("MARRIAGE WISE DEFAILTER  STATUS")
plt.title('Distribution of MARRIAGE')
plt.show()'''

In [ ]:
# Observation: Marital status (1=married, 2=single, 3=others) it is clear that they are equally invilved in defaulting the payment.

In [ ]:
#df['default.payment.next.month'].groupby(df['MARRIAGE']).value_counts()

In [ ]:
#sns.distplot(df['AGE'],color='red')

In [ ]:
#sns.distplot(df['LIMIT_BAL'],color='red')

In [ ]:
''''for feature in df.columns:
    sns.stripplot(data=df, x='default.payment.next.month',y = feature)
    plt.title("plot of defalut payment with "+str(feature))
    plt.show()''''

In [ ]:
# cleaning a data as high amout of outlier is ther in dataset.

In [6]:
df.shape

(30000, 25)

In [ ]:
'''q1 = df['AGE'].quantile(0.25)
q3 = df['AGE'].quantile(0.75)
IQR = q3-q1
lower_bound = q1-1.5*IQR
upper_bound = q3+1.5*IQR

df['AGE'] = df['AGE'][(df['AGE']>= lower_bound) & (df['AGE'] <= upper_bound)]
'''

In [ ]:
#sns.boxplot(df['AGE'])

In [ ]:
'''def remove_outliers(df):
    clean_df = pd.DataFrame()
    
    for column in df.columns:
        Q1 = df[column].quantile(0.25)
        Q3 = df[column].quantile(0.75)
        IQR = Q3 - Q1
        
        lower_bound = Q1 - 1.5 * IQR
        upper_bound = Q3 + 1.5 * IQR
        
        clean_df[column] = df[column][(df[column] >= lower_bound) & (df[column] <= upper_bound)]
    
    return clean_df'''

In [ ]:
#cleaned_data = remove_outliers(df)

In [ ]:
#cleaned_data.shape

In [7]:
# chek data is balanced or not
df["default.payment.next.month"].value_counts()

0    23364
1     6636
Name: default.payment.next.month, dtype: int64

In [ ]:
# Observation:-
# highly imbalanced data set.

In [ ]:
# Before this lets split our data into train and test

In [8]:
X= df.iloc[:,:-1] # independent feature
y= df.iloc[:,-1] # dependent feature

In [9]:
X.shape,y.shape

((30000, 24), (30000,))

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [12]:
# !pip install imbalanced-learn

In [16]:
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler()

In [17]:
X_train_ros,y_train_ros = ros.fit_resample(X_train,y_train)

In [18]:
from collections import Counter

In [19]:
print("The number of classes before fit {}".format(Counter(y_train)))
print("The number of classes after fit {}".format(Counter(y_train_ros)))

The number of classes before fit Counter({0: 15622, 1: 4478})
The number of classes after fit Counter({1: 15622, 0: 15622})

In [21]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression, RidgeClassifier, Lasso
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import accuracy_score, classification_report

# Create and fit the classification models
knn = KNeighborsClassifier()
dt = DecisionTreeClassifier()
rf = RandomForestClassifier()
ada = AdaBoostClassifier()
svc = SVC()
lr = LogisticRegression()
ridge = RidgeClassifier()
lasso = Lasso()
nb = GaussianNB()
gb = GradientBoostingClassifier()

models = [knn, dt, rf, ada, svc, lr, ridge, lasso, nb, gb]

for model in models:
    model.fit(X_train_ros, y_train_ros)
    train_pred = model.predict(X_train_ros)
    test_pred = model.predict(X_test)
    train_accuracy = accuracy_score(y_train_ros, train_pred)
    test_accuracy = accuracy_score(y_test, test_pred)
    print(f"Model: {model.__class__.__name__}")
    print(f"Train Accuracy: {train_accuracy}")
    print(f"Test Accuracy: {test_accuracy}")
    print(classification_report(y_test, test_pred))
    #print()

AttributeError: 'NoneType' object has no attribute 'split'

In [ ]:
# Model hyperparameter tuning:-

In [ ]:
from sklearn.model_selection import GridSearchCV

In [ ]:
grid={'C':10.0 **np.arange(-2,3),'penalty':['l1','l2']}
from sklearn.model_selection import KFold

In [ ]:
clf=GridSearchCV(log_class,grid,cv=cv,n_jobs=-1,scoring='f1_macro')
clf.fit(X_train,y_train)